.AppSlider .container {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
}

.AppSlider {
    width: 90%;
    margin: 15px auto;

}
.slick-prev:before ,
.slick-next:before {
    color: blue;
}
.AppSliderCard {
    width: 120px;
    background-color: #ffffff;
    padding: 5px;
    /* max-height: 270px; */
    border-radius: 10px;
    height: 210px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: 10px;
}

.AppSliderCard img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 0 auto;
}
.AppSliderCard h3 {
    font-size: 14px;
    padding-top: 5px;
}

.AppSliderCard p {
    font-size: 14px;
}

.Download-link {
    display: block;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
    background: #0080ff;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #0080ff ;
    cursor: pointer;
    color: #000000;
    transition: .3s;
    margin-top: 5px;
}
.Download-link:hover {
    background-color: transparent;
}

/* .slick-initialized .slick-slide {
  
    margin: 10px;
} */
/* ! ................ */
@media screen and (min-width : 990px) and (max-width :1536px) {
    
   
}

@media screen and (min-width : 240px) and (max-width :989px) {

   
}
/* ! ................ */
@media screen and (min-width : 1280px) and (max-width : 1536px) {
    
}

@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .AppSliderCard {
        width: 115px;
    }

.AppSliderCard p {
    font-size: 10px;
    margin: 0;


}}

@media screen and (min-width : 990px) and (max-width : 1023px) {

}

@media screen and (min-width : 769px) and (max-width : 989px) {
   
    .AppSliderCard {
        width: 115px;
       
    }
}

@media screen and (min-width : 640px) and (max-width : 768px) {

    .AppSliderCard p {
        font-size: 11px;
    }
    .AppSliderCard {
        width: 125px;
       
    }
    .AppSliderCard h3 {
        font-size: 17px;
        padding-top: 4px;
    }
}

@media screen and (min-width : 568px) and (max-width :639px) {
    .AppSliderCard p {
        font-size: 11px;
    }
    .AppSliderCard {
        width: 125px;
       
    }
    .AppSliderCard h3 {
        font-size: 17px;
        padding-top: 4px;
    }
  

    
    
}

@media screen and (min-width : 480px) and (max-width :567px) {
    .AppSliderCard p {
        font-size: 10px;
    }
    .AppSliderCard {
        width: 120px;
       
    }
    .AppSliderCard h3 {
        font-size: 15px;
        padding-top: 3px;
    }
  
}

@media screen and (min-width : 320px) and (max-width :479px) {
    .AppSliderCard p {
        font-size: 8px;
    }
    .AppSliderCard {
        width: 80px;
       
    }
    .AppSliderCard h3 {
        font-size: 13px;
        padding-top: 4px;
    }
    .Download-link {
        font-size: 10px;
        margin-left: 0;

   
    }
   
}

@media screen and (min-width : 240px) and (max-width :319px) {
    .AppSliderCard p {
        font-size: 11px;
    }
    .AppSliderCard {
        width: 125px;
       
    }
    .AppSliderCard h3 {
        font-size: 17px;
        padding-top: 4px;
    }
    .Download-link {
        font-size: 10px;
        margin-left: 50%;
   
    }
}



@media screen and (min-width : 0px) and (max-width : 870px) {
    .AppSliderCard {
        width: 115px;
    }

.AppSliderCard p {
    font-size: 10px;
    margin: 0;


}}
@media screen and (min-width : 0px) and (max-width : 700px) {
    .AppSliderCard {
        width: 105px;
    }
    
    .AppSliderCard p {
        font-size: 9px;
        margin: 0;
        
        
    }}
@media screen and (min-width : 0px) and (max-width : 400px) {
    .AppSliderCard {
        width: 80px;
        height: fit-content;
    }
    
    .AppSliderCard p {
        font-size: 8px;
        margin: 0;
        
        
    }
    .Download-link {
        font-size: 7px;
        margin-left: 0;
    }}
    @media screen and (min-width : 0px) and (max-width : 700px) { 
        .slick-prev:before, .slick-next:before {  

            display: none;
         }
         
    }

    
    @media screen and (min-width : 866px) and (max-width : 1560px) { 
       
            .AppSliderCard {
                width: 120px;
                height: fit-content;
            }
            
            .AppSliderCard p {
                font-size: 10px;
                margin: 0;
                
                
            }
            .Download-link {
                font-size: 8px;
                margin-left: 0;
            }
         
    }

